
.button{
    display: flex;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    color: var(--primary-text-color);
    padding: 0.5rem 4rem;
    border-radius: var(--border-radius);
    font-weight: 700;
    cursor: pointer;
    border: 1px solid var(--border-btn2);
    width: 100%;
    min-width: 150px;
    transition: background-color 0.3s ease;
}

.button:hover{
    outline: 2px solid var(--border-btn2);
    outline-offset: 2px;
    background-color: var(--bg-button-hover2);
}
@media (prefers-color-scheme: dark) {
    .button:hover {
        outline: none;
    }
}


.button svg {
    transition: transform 0.3s ease; /* Añadir transición al SVG */
}

.button:hover svg {
    transform: translateX(3px); /* Desplazar el SVG hacia la derecha */
}

.p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

@media (max-width: 480px) {
    .button{
        padding: 0.5rem;
    }
}