.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70dvh;
    margin: 1rem;
    background-color: var(--footer-bg);
    border-radius: 1rem;
}