* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#root {
  background-color: var(--background-color);
}

body {
 
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: var(--background-color);


}

:root {
  --background-color:     background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(circle at 44% 70%, hsla(238.03738317757006, 100%, 57%, 0.16) 3.4940600978336827%, transparent 50%), radial-gradient(circle at 89% 87%, hsla(238.03738317757006, 100%, 57%, 0.3) 3.4940600978336827%, transparent 50%);
  background-blend-mode: normal, normal;

  --nav-bg: #fff;
  --icon-color: #B3B4B9;
  --icon-hover: rgba(138, 133, 133, 0.297);

  --icon-color-btn1: #ffffff;
  --icon-color-btn2: #000000;


  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ff0000;

  --navbar-text-color: #020817;
  --border-divisor: #b3b4b9;
  --border-footer: #ada8a8;

  --bg-container: #dfe0e7;
  --icon-shop: #B3B4B9;

  --text-gray: #a8a9ae;

  --footer-bg: #e7e7e7;

  --button-bg: #0f172a;

  /* button */
  --bg-button: #0f172a;
  --text-button: #fff;
  --bg-button-hover: #4b4b4b;
  --border-btn: #080808;

  --border-btn2: #d4d4d4;
  --bg-button-hover2: #f0f0f0;
  
  --foreground-color: #003cff;

  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;

  /* details */
  --detail-violet: #3b0181;

  --max-width: 1000px;
  --padding-w1024: 1rem 2rem;
  --padding-w480: 1rem;
  --border-radius: 0.5rem;
  


}

[data-theme="dark"] {
  --background-color:
    background-color: hsla(0, 0%, 0%, 1);
    background-image: radial-gradient(circle at -50% 157%, rgb(0, 0, 0) 0%, rgb(18, 18, 18) 50%, rgb(17, 17, 17) 100%);
    background-blend-mode: normal;

    --nav-bg: #121212;

  --icon-color: #B3B4B9;
  --icon-color-btn1: #000000;
  --icon-color-btn2: #ffffff;
  --icon-hover: rgba(181, 177, 177, 0.22);

  --primary-text-color: #fff;
  --secondary-text-color: #1eff00;

  --navbar-text-color: #FAFAFA99;
  --border-divisor: #696969;
  --border-footer: #B3B4B9;

  --icon-shop: #B3B4B9;

  --text-gray: #a8a9ae;

  --footer-bg: #353535;

  --button-bg: #0f172a;
  --bg-container: #292929;
  --bg-button-hover: #d7d7d7e8;
  --border-btn: #d4d4d4;
  --border-btn2: #89898942;
  --outline-btn2: none;
  --bg-button-hover2: #dadada7e;
    /* button */
    --bg-button: #fff;
    --text-button: #151519;

  --foreground-color: #ff5656;

  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;




}