.containerGeneral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;    
    border-radius: 1rem;
}
.containerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70dvh; /* Corrige la unidad de altura */
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.containerFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 70dvh;
    padding: 1rem 5rem;
    width: 100%;
    border-radius: 10px;
    background-color: var(--bg-container);
    margin-top: 100px;
}

