
.containerGeneral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;    
    background-color: red;
    border-radius: 1rem;
}
.containerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70dvh; /* Corrige la unidad de altura */
    width: 80%;
    border-radius: 1rem;
    background-color: green;
}

.containerFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 70dvh;
    width: 80%;
    padding: 1rem 5rem;
    background-color: blue;

}

