.button {
    display: flex;
    justify-content: center;
    background-color: var(--bg-button);
    align-items: center;
    color: var(--text-button);
    padding: 0.5rem 4rem;
    border-radius: var(--border-radius);
    font-weight: 700;
    cursor: pointer;
    border: none;
    width: 100%;
    min-width: 150px; /* Establece un ancho mínimo */
    transition: background-color 0.3s ease; /* Definir transición solo aquí */
}


.button:hover{
    outline: 2px solid var(--border-btn); /* Añadir borde al hacer hover */
    outline-offset: 2px;
    background-color: var(--bg-button-hover); 
}

.button svg {
    transition: transform 0.3s ease; /* Añadir transición al SVG */
}

.button:hover svg {
    transform: translateX(3px); /* Desplazar el SVG hacia la derecha */
}

.p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 480px) {
    .button {
        padding: 0.5rem;
        width: 100%; /* Asegura que el botón ocupe el ancho completo en pantallas pequeñas */
    }
}