.footer {
  background-color: var(--footer-bg);
  color: var(--primary-text-color);
  padding: 2rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: var(--max-width);
}

.newsletter {
  margin-bottom: 2rem;
  flex: 1;
}

.newsletterContainer {
  display: flex;
  flex-direction: column;
  max-width: 100vh;
}

.newsletter form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.newsletter input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--border-divisor);
  border-radius: 3px;
}

.newsletter button {
  width: 5rem;

}

.newsletter button:hover {
  background-color: #9e9e9e;

}

.footerColumns {
  display: flex;
}

.footerContent {
  min-width: 200px;
}

.footerContent h3 {
  margin-bottom: 1rem;
}

.footerContent ul {
  list-style: none;
  padding: 0;
}

.footerContent ul li {
  margin-bottom: 0.5rem;
}

.footerBottomContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid var(--border-footer);
  padding: 1rem 0;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.socialMedia {
  display: flex;
  gap: 1rem;
}


@media screen and (max-width: 1024px) {
  .footer {
    padding: var(--padding-w1024);
  }
  .footerColumns {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {

  .footer {
    padding: var(--padding-w1024);
  }
  .container{
    display: flex;
    flex-direction: column;
  }

  .footerContent {
    margin-bottom: 2rem;
  }

  .newsletter {
    margin-bottom: 2rem;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .footer {
      padding: var(--padding-w480);
  }
}