
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }

  #root{
    background-color: var(--background-color); 

  }

  body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.25s ease-in-out;
    }

  
  :root {
    --background-color: #f6f6f6;
    --icon-color: #B3B4B9;
    --icon-hover: rgba(138, 133, 133, 0.297);

    --primary-text-color: #0a0a0a;
    --secondary-text-color: #ff0000;

    --navbar-text-color: #020817;
    --border-divisor: #b3b4b9 ;
    --border-footer: #ada8a8;
    
    --bg-container: #F5F5F5;
    --icon-shop: #B3B4B9;

    --text-gray: #a8a9ae;

    --footer-bg: #e7e7e7;

    --button-bg: #0f172a;

    --foreground-color: #003cff;


    --toggle-bg: #f0eb9d;
    --toggle-fg: #ffd000;
  }
  
  [data-theme="dark"] {
    --background-color: #1e293c;
    --icon-color: #B3B4B9;
    --icon-hover: rgba(181, 177, 177, 0.22);

    --primary-text-color: #fff;
    --secondary-text-color: #1eff00;

    --navbar-text-color: #FAFAFA99;
    --border-divisor: #696969;
    --border-footer: #B3B4B9;
    
    --bg-container: #F5F5F5;
    --icon-shop: #B3B4B9;

    --text-gray: #a8a9ae;

    --footer-bg: #4e5b7d;

    --button-bg: #0f172a;
    --bg-container: #4e5b7d;


    --foreground-color: #ff5656;

    --toggle-bg: #283452;
    --toggle-fg: #00a6ff;
  }
